# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
.venv/
venv/
build/
dist/
*.egg-info/
.eggs/
.installed.cfg
*.egg

# Pytest
.pytest_cache/

# VSCode
.vscode/

# Logs
*.log

# Mac
.DS_Store
